<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Cookbook</title>
  </head>

  <body>
    <header>
      <h1><span class='branding'>The Cookbook</span> &ndash; Food is Fun!</h1>
    </header>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/categories'>Categories</a></li>
        <li><a href='/categories/new'>Categories New</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>