<form method='post' action='/categories'>
  <dl>
    <dt><label for='name'>Name :</label></dt>
    <dd><input id='name' name='category[name]' type='text' autofocus></dd>
  </dl>
  <button>Add Category</button>
</form>